# Prevent directory listing
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Project base URL
    RewriteBase /Property_And_House_Management_System/

    # Send the project root to the public folder
    RewriteRule ^$ public/index.php [L]

    # Send other requests to the public folder
    RewriteCond %{REQUEST_URI} !^/Property_And_House_Management_System/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>